.col-md-8.col-md-offset-2
  .card
    %h2.card-header Authorized Users
    .card-body
      %table.table.table-striped
        %thead
          %tr
            %th Email
            %th Status
        %tbody
          - @users.each do |user|
            %tr
              %td= user.email
              - if true
                %td{ style: 'color: green;'}= fa_icon 'check', text: 'Confirmed'
              - else
                %td= fa_icon 'spinner', class: 'fa-pulse', text: 'Await confirmation...'